@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

html,
body {
  font-family: "Mona Sans", sans-serif;
  background-color: var(--color-black-100);
  color: white;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  ;

}

@theme {
  --font-sans: "Mona Sans", sans-serif;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}
.dark {

  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;

}

.light {
 
  --color-white-50: #000;
  --color-black-50: #fff;
  --color-black-100: #fdf7f7;
  --color-black-200: #eee;

}
section {
  width: 100dvw;
}

.gradient-edge:nth-of-type(1) {
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.gradient-edge:nth-of-type(2) {
  right: 0;
  background: linear-gradient(-90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
}

@layer components {
  .hero-layout {
    @apply relative z-10 flex items-center h-[80vh] xl:items-center   md:h-dvh  flex-col xl:flex-row ;
  }

  .hero-text {
    @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;

    img {
      @apply size-8 md:size-10 object-contain
    }

    .slide {
      @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
    }
  }

  .cta-wrapper {
    @apply relative z-20 cursor-pointer
  }

  .cta-button {
    @apply px-4 py-4 rounded-lg bg-black-200 flex justify-center items-center relative cursor-pointer overflow-hidden;

    .bg-circle {
      @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 w-[120%] h-[120%] group-hover:size-10 group-hover:right-10 rounded-full bg-white-50 transition-all duration-500;
    }

    .text {
      @apply uppercase md:text-lg text-black transition-all duration-500 group-hover:text-white-50 group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
    }

    .arrow-wrapper {
      @apply group-hover:bg-white-50 size-10 rounded-full absolute right-10 top-1/2 -translate-y-1/2 flex justify-center items-center overflow-hidden text-black-50;

      svg {
        @apply size-7 xl:-translate-y-30 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500
      }

    }
  }

  .hero-3d-layout {
    @apply  w-full h-full min-h-[50vh]  flex  items-center  justify-center ;
  }
   .card-border {
    @apply border border-black-50 bg-black-100;
  }
}

/* Hero text slider starts*/
.slide{
  display:inline-block;
  flex-direction: column;
  transition:all cubic-bezier(0.075, 0.32, 0.34, 1);
}
.wrapper{
  display:flex;
  flex-direction:column;
  animation:wordSlider 21s infinite cubic-bezier(0.09, 0.81, 0.3, 0.99)
}


@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }

  12.5% {
    transform: translateY(-12.5%);
  }

  25% {
    transform: translateY(-25%);
  }

  37.5% {
    transform: translateY(-37.5%);
  }

  50% {
    transform: translateY(-50%);
  }

  62.5% {
    transform: translateY(-62.5%);
  }

  75% {
    transform: translateY(-75%);
  }

  87.5% {
    transform: translateY(-87.5%);
  }
}



.marquee-box {
  animation: marquee 60s linear infinite;
}



@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg);
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.glow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  filter: saturate(200);
}

.card:hover::before {
  opacity: 1;
}

